/* Colores generales*/
:root{
    --default-color: #e71247;
    --default-color2: #d64569;
    --dark-color: #222;
    --dark-color-alt: #3c4858;
    --grey-color: #f9fafd;
    --grey-color-alt: #8492a6;
    --yellow: #ffcc00;
    --white: #fff;
}

/* Limpiar */

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* clase general al diseño */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--dar-color);
    background-color: var(--white);
}

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h2,h3,h4{
    font-weight: 600;
}

.container{
    max-width: 114rem;
    padding: 0 1rem;
    margin: 0 auto;
}

@media only screen and (max-width: 992px){
    .container{
        padding: 0 3rem;
    }
}


/*Header*/
.header {
    min-height: 100vh;
    background: linear-gradient(to top,
    rgba(17, 117, 231, .5),
    rgba(136, 0, 133, .6)),
    url('../imagenes/Banner1.jpg') center/cover no-repeat fixed;

    position: relative;
    z-index: 100;

}

